<nav class="z-depth-2 mode-background-colorLine mode-text-colorText no-select" id="mySidebar">
    <div class="bar-block" id="report-menu">
        <ul data-db="relatorios" data-realtime-db>
            <li rel='{{id}}' class='report-menu col container padding-8 theme-hover pointer'>{{nome}}</li>
        </ul>
    </div>
</nav>

<div class="main report-main animate-left mode-background-colorBackground mode-text-colorText">
    <div id="dashboard" class="container padding-xlarge s-padding-medium row">
        <div id="report" class="container">
            <div class="col relative">
                <div class="col s12 m9 padding-small config-panel"></div>
            </div>
        </div>
    </div>
</div>