{{#cards}}
    <div class="card radius no-select left relatorios_card" rel="{{id}}" style="background: {{cor_de_fundo}}; color: {{cor_do_texto}};width: 273px; max-width: 48%; margin-right: 1%; margin-left: 1%;padding-bottom: 5px;">
        <div class='col radius padding-left relative' style="background: linear-gradient(45deg, #00000030, transparent);padding: 10px 5px;">
            <span class='col s-font-small'>{{titulo}}</span>
            <span class='right overflow-hidden font-xxlarge s-font-large padding-24 align-right padding-right relatorios_card_value {{classes}}'>{{data}}</span>
            <span class="left" style="position: absolute;left: -11px;bottom: -20px;opacity: .2">
                <i class="material-icons" style="font-size: 85px">{{icon}}</i>
            </span>
        </div>
    </div>
{{/cards}}