{{#cards}}
    <div class="card radius no-select left relatorios_card" rel="{{id}}"
         style="background: {{cor_de_fundo}}; color: {{cor_do_texto}};">
        <div class='col radius padding-left relative rcard'>
            <span class='col s-font-small rtitle'>{{titulo}}</span>
            <span class='right overflow-hidden font-xxlarge s-font-large padding-24 align-right padding-right relatorios_card_value {{classes}}'>{{data}}</span>
            <span class="left ricon">
                <i class="material-icons">{{icon}}</i>
            </span>
        </div>
    </div>
{{/cards}}

<style>
    .rtitle {
        height: 20px;
    }
    .relatorios_card {
        overflow: hidden!important;
        width: 273px!important;
        max-width: 48%;
        margin-right: 1%;
        margin-left: 1%;
        padding-bottom: 5px;
    }

    .rcard {
        background: linear-gradient(45deg, #00000030, transparent);
        padding: 10px 5px;
    }

    .ricon {
        position: absolute;
        left: -11px;
        bottom: -20px;
        opacity: .1
    }

    .ricon > i {
        font-size: 85px
    }
</style>