<tr id="row-{{entity}}-{{id}}" style="border: none;">
    {{#fields}}
        <td class="padding-16 {{class}}" style="{{style}}">
            {{#first}}
                <label class="left pointer">
                    <input type="checkbox"{{#checked}} checked="checked"{{/checked}} class="table-select" rel="{{id}}" data-id="{{identificador}}"
                           style="margin: 15px 1.5rem 11px 0px;"/>
                    <span class="td-value">{{{value}}}</span>
                </label>
            {{/first}}
            {{^first}}
                <span class="td-value">{{{value}}}</span>
            {{/first}}
        </td>
    {{/fields}}
</tr>