<tr id="row-{{entity}}-{{id}}" style="border: none;">
    {{#fields}}
        <td rel="{{column}}" class="padding-16 {{class}}{{^show}} hide{{/show}}" style="{{style}}">
            <span class="td-value">{{{value}}}</span>
        </td>
    {{/fields}}
</tr>