<div class="responsive tableList col padding-24 s-padding-0" id="tableList-{{entity}}" data-entity="{{entity}}"
     data-id="{{identificador}}">
    <div class="col z-depth-2 grid-form-body radius border overflow-hidden">
        <div class="col color-white loadindTableSpace">
            <div class="col padding-small padding-8" style="display: flow-root">

                <!--<div class="padding-8 right">
                    <button class="btn theme radius opacity hover-opacity-off right" id="enviar-mensagem"
                            style="margin-bottom: 10px;">
                        <i class="material-icons left" style="padding-right: 5px">send</i>
                        <div class="left padding-tiny">enviar</div>
                    </button>
                </div>-->

                <button title="filtro"
                        class="margin-bottom left color-white btn-report-advanced button">
                    <i class="material-icons left">list</i>
                </button>

                <h4 class="left padding-medium padding-12">
                    {{title}}
                </h4>
                <small class="total left padding-right" style="position: absolute; top: 85px; left: 123px; color: #999999;">{{total}}</small>

                <div class="right padding-right" style="padding-top: 20px;">
                    <div class="col sub-header-table-limit">
                        <select class="col tableReportLimit font-small text-theme" data-id="{{identificador}}">
                            <option {{#limits.a}}selected="selected" {{/limits.a}}value="15">
                                15
                            </option>
                            <option {{#limits.b}}selected="selected" {{/limits.b}}value="25">
                                25
                            </option>
                            <option {{#limits.c}}selected="selected" {{/limits.c}}value="50">
                                50
                            </option>
                            <option {{#limits.d}}selected="selected" {{/limits.d}}value="100">
                                100
                            </option>
                            <option {{#limits.e}}selected="selected" {{/limits.e}}value="250">
                                250
                            </option>
                            <option {{#limits.f}}selected="selected" {{/limits.f}}value="500">
                                500
                            </option>
                            <option {{#limits.g}}selected="selected" {{/limits.g}}value="1000">
                                1000
                            </option>
                        </select>
                    </div>
                </div>

                <div class="right padding-right" style="max-width: 160px;">
                    <label>
                        <small>Fim</small>
                        <input type="date" id="dataFinal" data-rel="{{identificador}}" />
                    </label>
                </div>

                <div class="right padding-right" style="max-width: 160px;">
                    <label>
                        <small>Início</small>
                        <input type="date" id="dataInicial" data-rel="{{identificador}}" />
                    </label>
                </div>

                <!--<div class="right" style="padding: 23px 10px 0 0;">
                    <div class="right padding-bottom">
                        <button class="btn radius time-week theme-d3 opacity hover-opacity-off" rel="day" data-rel="{{identificador}}">
                            Dia
                        </button>
                    </div>
                    <div class="right padding-bottom">
                        <button class="btn radius time-week theme-d3 opacity hover-opacity-off" rel="week" data-rel="{{identificador}}">Semana
                        </button>
                    </div>
                    <div class="right padding-bottom">
                        <button class="btn radius time-week theme-d3 opacity hover-opacity-off active" rel="month" data-rel="{{identificador}}">Mês
                        </button>
                    </div>
                    <div class="right padding-bottom">
                        <button class="btn radius time-week theme-d3 opacity hover-opacity-off" rel="year" data-rel="{{identificador}}">Ano
                        </button>
                    </div>
                </div>-->

            </div>

            <div class="col padding-4">
                <div class="col table-report transition-easy overflow-hidden" style="display: flow-root; height: 0">
                    <button class="btn theme radius opacity margin-left hover-opacity-off left"
                            style="margin-bottom: 10px;">
                        <i class="material-icons left" style="padding-right: 5px">av_timer</i>
                        <div class="left padding-tiny">programar</div>
                    </button>
                    <button class="btn theme radius opacity hover-opacity-off left"
                            style="margin-bottom: 10px;">
                        <i class="material-icons left" style="padding-right: 5px">insert_chart_outlined</i>
                        <div class="left padding-tiny">gráfico</div>
                    </button>
                </div>
            </div>
        </div>

        <table class="table-all" style="border: none">
            <thead>
            <tr class="no-select relative">
                {{#fields}}
                    <th rel="{{column}}"{{^show}} class="hide"{{/show}}>
                        <span class="pointer grid-order-by" data-column="{{column}}" rel="{{identificador}}">
                            <span class="left padding-small padding-8">{{nome}}</span>
                        </span>
                    </th>
                {{/fields}}

                <th style="position: absolute;right: 33px;padding: 15px 10px 10px;">
                    <div class="col right padding-left pointer relative report-header-option" data-rel="{{identificador}}">
                        <i class="material-icons">more_vert</i>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="relative"></tbody>
        </table>
    </div>
    <div class="col padding-12"></div>

    <input type="hidden" class="table-pagina-{{entity}}" value="0" data-entity="{{entity}}"
           id="table-pagina-{{entity}}"/>
</div>

<style>
    .btn-report-advanced {
        box-shadow: none !important;
        padding: 15px!important;
    }
</style>